@import url('https://fonts.googleapis.com/css?family=Aldrich|Orbitron');

#letterS{
    color: #0088cc;
}
#letterI{
    color: #13df76;
}
#letterM{
    color: #cc0022;
}
#letterO{
    color: #ccad00;
}
#letterN{
    color: #0088cc;
}
a{
    color: rgb(56, 55, 55);
}
a:hover{
    color: #000000;
}
.nav-item{
    color: #000000;
    font-family: 'Orbitron', sans-serif;
    font-weight: medium;
}
.nav-item:hover{
    background-color: rgba(165, 220, 83, 0.653);
    color: #8409d6;
}

.righty{
    text-align: right;
    margin-top: 0.5vh;
}
.icons{
    margin-right: 1vw;
}
.ico {
  margin: 0.5em;
  font-size: 1.3em;
  color: #303030;
  border: 2px solid #303030;
  background-color: rgba(165, 220, 83, 0.653);
  border-radius: 50%;
  padding: 0.5em;
  transform: scale(1);
  transition: all .5s ease;
}

.ico:hover{
  
   border: 2px solid rgb(37, 135, 167);
  cursor:pointer;
  transform: scale(1.5);
}

.tooltips{
    position: relative;
    display: inline-block;
}
.tooltips  .tooltiptext{
    visibility: hidden;
    width: 140px;
    background-color: rgb(37, 135, 167);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 1s;
    
}
.tooltiptext::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:   rgb(37, 135, 167) transparent transparent transparent;
}
.tooltips:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

#aboutBox{
    border-top: 0;
    margin: 3px;
    padding: 7px 15px;
    text-align: center;
}

#aboutDetails{
    border: 1px solid #D1C9C2;
    border-top: 0;
    margin: 0 auto;
    font-size: 1.3em;
    border-radius: 6px;   
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color:rgba(165, 220, 83, 0.99); /* Fallback color */

}

#helpBox{
    border-top: 0;
/* Location of the box */
  top: 0;
  width: 50%;
  height: 50%; 
}
#helpDetails{
    position: absolute;
    left: 60%;
    background-image: url('../images/help.jpg');
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  margin: auto;
  width: 40%;
  height: 64%;
}

.black{
    background-color: #000; 
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }

.grid-container {
  display: grid;
  max-width: 500px;
  grid-template-areas:
    'header menu '
    ' main right';
  grid-gap: 10px;
  background-color: rgb(152, 107, 107);
  background-image: url('../images/circ.jpg');
   box-shadow: 1px 2px 1px 3px rgba(113, 111, 111, 0.7);
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.block{
    width: 100%;
    padding-top: 100%;
}

.b1{
    background-color: rgb(122, 122, 9);
    cursor: pointer;
   
}
.b2{
    background-color:rgb(81, 20, 138);
    cursor: pointer;

}
.b3{
    background-color:rgb(123, 12, 12);
    cursor: pointer;
}
.b4{
    background-color:rgb(74, 117, 10);
    cursor: pointer;

}

.level{
    display: flex;
    justify-content: center;
    max-width: 150px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1px solid#D1C9C2;
}
.info{
    display: flex;
    justify-content: center;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 7px;
    border-top: 1px solid#D1C9C2;
}
#levelscreen{
    width: 90%;
    height: 20%;
    background-color: #6f6d6d;
    box-shadow: inset 0 0 1px 1px grey;
    font-family: 'Orbitron', sans-serif;
    color: rgb(98, 216, 112);
}
#infoscreen{
    width: 100%;
    height: 15%;
    background-color: #6f6d6d;
    font-family: 'Aldrich', sans-serif;
   font-size: 23px;
   color: rgb(98, 216, 112);
   line-height: 1.8em;
    box-shadow: inset 0 0 2px 2px grey;
}

.console{
    background-color: #888;
    position: relative;
    top: 30%;
    max-width: 600px;
    background-image: url('../images/circ.jpg');
background-repeat: no-repeat;
  background-size: cover;
   
     box-shadow:  1px 3px rgba(113, 111, 111, 0.7);
}

#buttons, #levels{
    text-align: center;
}

.testbutton{
    margin-bottom: 3vh;
    margin-top: 2vh;
    width: 100px;
    height: 30px;
	padding: 3px;
    cursor: pointer;
    box-shadow: 1px 4px rgb(95, 94, 94);
   border: 1px solid lightgrey;
   outline: 3px grey; 
 text-shadow:  0px 2px 3px rgba(255,255,255,0.3);
  background-clip: text;
  font-family: 'Aldrich', sans-serif;
}

.testbutton:active{
    background-color: rgb(193, 196, 201);
    -webkit-box-shadow: inset 0 0 10px #000000;
    -moz-box-shadow: inset 0 0 10px #000000;
   box-shadow: inset 0 0 10px #000000;
    transform: translateY(4px);
    outline: 3px grey;
}

h6{
background-color: #766b6b;
color: transparent;
 text-shadow:  0px 2px 3px rgba(255,255,255,0.3);
-webkit-background-clip: text;
-moz-background-clip: text;
  background-clip: text;
}
#levButton{
color: rgb(23, 23, 56);
font-family: 'Orbitron', sans-serif;
}
.led-gray{
    margin-top: 1vh;
    margin-left: 1vw;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(184, 183, 183);
    box-shadow: #000 0 1px 6px 1px;
}
.led-green{
    margin-top: 1vh;
    margin-left: 1vw;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #80FF00;
    box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px;

}
.led-red{
    margin-top: 1vh;
    margin-left: 1vw;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F00;
    box-shadow: #000 0 -1px 6px 1px, inset #600 0 -1px 8px, #F00 0 3px 11px;

}

.switch {
	position: relative;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
/* Switch Flat
==========================*/
.switch-flat {
	padding: 0;
	background: #FFF;
	background-image: none;
}
.switch-flat .switch-label {
	background: #FFF;
	border: solid 2px #eceeef;
	box-shadow: none;
}
.switch-flat .switch-label:after {
	color: #0088cc;
}
.switch-flat .switch-handle {
	top: 6px;
	left: 6px;
	background: #dadada;
	width: 22px;
	height: 22px;
	box-shadow: none;
}
.switch-flat .switch-handle:before {
	background: #eceeef;
}
.switch-flat .switch-input:checked ~ .switch-label {
	background: #FFF;
	border-color: #0088cc;
}
.switch-flat .switch-input:checked ~ .switch-handle {
	left: 72px;
	background: #0088cc;
	box-shadow: none;
}

/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}
body {
    height: 100%;
    padding: 0;
  margin: 0 0 30px; /* bottom = footer height */
  overflow-x: hidden;
}

.light{
     background-image: url('../images/greeny.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dark{
     background-image: url('../images/greenyDarker.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
   border-top: 1px solid #ddd;
    color: #4c2020;
    font-size: .9rem;
}
.footerLightFont{
    color: #616462;
}
.footerBorderLight{
    border-top: 0.5px solid rgba(221, 221, 221, 0.5);
}
.game{
    margin-bottom: 18px;
}
 .links{
     color: #494545;
 }

.fab{
    font-size: 1.3em;
 padding-left: 10px;
 padding-right: 10px;
}
.fab:hover{
    color: #0088cc;
}
.fa-envelope:before {
    position: relative;
    top: 8px;
}

.levelButton{
    background-color: rgb(166, 204, 228);
    margin: 3px;
    padding: 3px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    box-shadow: 1px 4px rgb(88, 82, 82);
   border: 1px solid lightgrey;
   outline: 3px grey; 
 text-shadow:  0px 2px 3px rgba(255,255,255,0.3);
  background-clip: text;
}

.levelButtonPressed{
    background-color: rgb(63, 63, 100);
    
}
.levelButton:active{
     background-color: rgb(193, 196, 201);
    -webkit-box-shadow: inset 0 0 10px #000000;
    -moz-box-shadow: inset 0 0 10px #000000;
   box-shadow: inset 0 0 10px #000000;
    transform: translateY(2px);
    outline: 3px grey;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
 
}

/* Modal Content */
.modal-content {
  background-image: url('../images/stars.jpg');
    background-repeat: no-repeat;
    background-position: center;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  height: 60%;
  text-align: center;
  justify-content: center;
}



p{
    font-size: 45px;
}


@media (min-width: 576px) {
.navbar-brand
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 767px) {
    .console{
        top: 0;
        margin-top: 10px;
    }
    #helpDetails{
    height: 52%;
    left: 48%;
    width: 51%;
}
}
@media (max-width: 650px) {
#helpDetails{
    height: 56%;
    left: 37%;
    width: 63%;
}
}
@media (max-width: 576px) {
.righty{
    text-align: center;
    
}
.icons{
    margin-right: 0;
}

#aboutDetails{
    font-size: 1.1em;
}
#helpDetails{
    height: 58%;
    left: 12%;
    width: 77%;
}
}
@media (max-width: 476px) {
#helpDetails{
    height: 62%;
    left: 4%;
    width: 91%;
}
}
@media (max-width: 376px) {
#helpDetails{
    height: 60%;
    left: 1%;
    width: 99%;
}
}

div.indent {
  text-indent: 25px;
}
.smallerFont{
    font-size: 15px;
}


.animated-icon {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}
.animated-icon span{
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}
.animated-icon span {
background: #4b9bd5;
}
.animated-icon span:nth-child(1) {
top: 0px;
}
.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
top: 10px;
}

.animated-icon span:nth-child(4) {
top: 20px;
}

.animated-icon.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

