.righty{
    text-align: right;
    margin-top: 1vh;
}
.icons{
    margin-right: 1vw;
}
.fas, .far {
  margin: 0.5em;
  font-size: 1.3em;
  color: #303030;
  border: 2px solid #303030;
  background-color: rgba(165, 220, 83, 0.653);
  border-radius: 50%;
  padding: 0.5em;
  transform: scale(1);
  transition: all .5s ease;
}

.far:hover, .fas:hover{
  
   border: 2px solid rgb(37, 135, 167);
  cursor:pointer;
  transform: scale(1.5);
}
.tooltips{
    position: relative;
    display: inline-block;
}
.tooltips  .tooltiptext{
    visibility: hidden;
    width: 140px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 1s;
    
}
.tooltiptext::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:   black transparent transparent transparent;
}
.tooltips:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}

#rulesBox{
    border-top: 0;
    margin: 0 auto;
    padding: 7px 15px;
    text-align: left;
}
#rulesDetails{
    position: absolute;
    background: #565656;
    border: 1px solid #D1C9C2;
    border-top: 0;
    margin: 0 auto;
    padding: 7px 15px;
    webkit-border-bottom-right-radius: 6px;
    webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;   
    z-index: 1;
}

#helpBox{
    border-top: 0;
    width: 400px;
    margin: 0 auto;
    padding: 7px 15px;
    text-align: left;
}
#helpDetails{
    position: absolute;
    background: #565656;
    border: 1px solid #D1C9C2;
    border-top: 0;
    margin: 0 auto;
    padding: 7px 15px;
     webkit-border-bottom-right-radius: 6px;
    webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;   
    z-index: 1;
}

.black{
    background-color: #000; 
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }

.grid-container {
  display: grid;
  max-width: 500px;
  grid-template-areas:
    'header menu '
    ' main right';
  grid-gap: 10px;
  background-color: rgb(152, 107, 107);
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.block{
    width: 100%;
    padding-top: 100%;
}

.b1{
    background-color: rgb(122, 122, 9);
    cursor: pointer;
   
}
.b2{
    background-color:rgb(81, 20, 138);
    cursor: pointer;

}
.b3{
    background-color:rgb(123, 12, 12);
    cursor: pointer;
}
.b4{
    background-color:rgb(74, 117, 10);
    cursor: pointer;

}

.level{
    display: flex;
    justify-content: center;
    max-width: 150px;
    background-color: rgb(194, 118, 118);
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid#D1C9C2;
}
.info{
    display: flex;
    justify-content: center;
    max-width: 400px;
    background-color: rgb(150, 108, 108);
    text-align: center;
    margin: 0 auto;
    padding: 7px;
    border-top: 1px solid#D1C9C2;
}
#levelscreen{
    width: 90%;
    height: 20%;
    background-color: #565656;
    box-shadow: inset 0 0 1px 1px grey;
}
#infoscreen{
    width: 100%;
    height: 15%;
    background-color: #565656;
    letter-spacing: 0.1em;
   font-size: large;
    box-shadow: inset 0 2px 2px grey;
}

.console{
    background-color: #888;
    position: relative;
    top: 40%;
    padding: 4%;
    max-width: 500px;
}

#buttons, #levels{
    text-align: center;
}

.switch {
	position: relative;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
/* Switch Flat
==========================*/
.switch-flat {
	padding: 0;
	background: #FFF;
	background-image: none;
}
.switch-flat .switch-label {
	background: #FFF;
	border: solid 2px #eceeef;
	box-shadow: none;
}
.switch-flat .switch-label:after {
	color: #0088cc;
}
.switch-flat .switch-handle {
	top: 6px;
	left: 6px;
	background: #dadada;
	width: 22px;
	height: 22px;
	box-shadow: none;
}
.switch-flat .switch-handle:before {
	background: #eceeef;
}
.switch-flat .switch-input:checked ~ .switch-label {
	background: #FFF;
	border-color: #0088cc;
}
.switch-flat .switch-input:checked ~ .switch-handle {
	left: 72px;
	background: #0088cc;
	box-shadow: none;
}

/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px; /* bottom = footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.levelButton{
    background-color: lightskyblue;
    margin: 3px;
}

.levelButtonPressed{
    background-color: blue;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

p{
    font-size: 45px;
}

@media (min-width: 576px) {
.navbar-brand
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 576px) {
.righty{
    text-align: center;
    
}
.icons{
    margin-right: 0;
}
}